<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Test</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
<script src="https://unpkg.com/vue"></script>


<div id="characterCreation">
  <table>
    <tr>
      <th>Stat</th>
      <th>Value</th>
    </tr>
    <tr>
      <td colspan='2'>
        <input v-model="charName" type='text' value='' placeholder='Enter Name'>
      </td>
    </tr>
    <tr>
      <td colspan='2'>
        <select v-model='charRank'>
          <option>Leader</option>
          <option>Engineer</option>
          <option>Fighter</option>
          <option>Green</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Name: </td>
      <td>{{ charName }}</td>
    </tr>
    <tr>
      <td>Rank: </td>
      <td>{{ charRank }}</td>
    </tr>
    <tr>
      <td>M: </td>
      <td>{{ charM }}</td>
    </tr>
    <tr>
      <td>WS: </td>
      <td>{{ charWS }}</td>
    </tr>
    <tr>
      <td>BS: </td>
      <td>{{ charBS }}</td>
    </tr>
    <tr>
      <td>S: </td>
      <td>{{ charS }}</td>
    </tr>
    <tr>
      <td>T: </td>
      <td>{{ charT }}</td>
    </tr>
    <tr>
      <td>W: </td>
      <td>{{ charW }}</td>
    </tr>
    <tr>
      <td>I: </td>
      <td>{{ charI }}</td>
    </tr>
    <tr>
      <td>A: </td>
      <td>{{ charA }}</td>
    </tr>
    <tr>
      <td>Ld: </td>
      <td>{{ charLd }}</td>
    </tr>
    <tr>
      <td>Cost: </td>
      <td>{{ charCost }}</td>
    </tr>
    <tr>
      <td>Weight: </td>
      <td>{{ charWeight }}</td>
    </tr>
    <tr>
      <td>Carry Cap: </td>
      <td>{{ charCarry }}</td>
    </tr>
    <tr>
      <td colspan='2'>
        <input type='submit' v-on:click='submit' value='BUY'>
      </td>
    </tr>
  </table>
</div>

<div id="characterRoster">
  <table>
    <tr>
      <th>Name</th>
      <th>Rank</th>
      <th>M</th>
      <th>WS</th>
      <th>BS</th>
      <th>S</th>
      <th>T</th>
      <th>W</th>
      <th>I</th>
      <th>A</th>
      <th>Ld</th>
      <th>Info</th>
    </tr>
    <tr v-for="obj in chars">
      <td>{{ obj.name }}</td>
      <td>{{ obj.rank }}</td>
      <td>{{ obj.m() }}</td>
      <td>{{ obj.ws }}</td>
      <td>{{ obj.bs }}</td>
      <td>{{ obj.s }}</td>
      <td>{{ obj.t }}</td>
      <td>{{ obj.w() }}</td>
      <td>{{ obj.i }}</td>
      <td>{{ obj.a() }}</td>
      <td>{{ obj.ld }}</td>
      <td><input type="button" value="..." v-on:click="showDetails(obj)"></td>
    </tr>
  </table>

  <div id="charInfoPanel">
    <h2>{{ detail.name }}</h2>
    <p>{{ detail.rank }}</p>
    <table>
      <tr>
        <th>Stat</th>
        <th>Value</th>
      </tr>
      <tr>
        <td>M</td>
        <td>{{ detail.m }}</td>
      </tr>
      <tr>
        <td>WS</td>
        <td>{{ detail.ws }}</td>
      </tr>
      <tr>
        <td>BS</td>
        <td>{{ detail.bs }}</td>
      </tr>
      <tr>
        <td>S</td>
        <td>{{ detail.s }}</td>
      </tr>
      <tr>
        <td>T</td>
        <td>{{ detail.t }}</td>
      </tr>
      <tr>
        <td>W</td>
        <td>{{ detail.w }}</td>
      </tr>
      <tr>
        <td>I</td>
        <td>{{ detail.i }}</td>
      </tr>
      <tr>
        <td>A</td>
        <td>{{ detail.a }}</td>
      </tr>
      <tr>
        <td>Ld</td>
        <td>{{ detail.ld }}</td>
      </tr>
      <tr>
        <td>XP</td>
        <td>{{ detail.xp }}</td>
      </tr>
      <tr>
        <td>Enc.</td>
        <td>{{ detail.inventoryWeight }} / {{ detail.carry }}</td>
      </tr>
    </table>
    <div id="dl-wrapper">
      <dl>
        <dt>Armour</dt>
        <dd>{{ detail.armour }}</dd>
      </dl>
      <dl>
        <dt>Sheild</dt>
        <dd>{{ detail.sheild }}</dd>
      </dl>
      <dl>
        <dt>Handedness</dt>
        <dd>{{ detail.handedness }}</dd>
      </dl>
      <dl>
        <dt>Left Equip</dt>
        <dd>{{ detail.leftHandEquip }}</dd>
      </dl>
      <dl>
        <dt>Right Equip</dt>
        <dd>{{ detail.rightHandEquip }}</dd>
      </dl>
    </div>
  </div>
</div>

<script src='app.js'></script>
</body>