#characterCreation {
    width: 30%;
    float: left;
}

#characterCreation select {
  width: 100%;
}

#characterRoster {
  width: 70%;
  float: left;
}

#characterRoster table {
  display: inline-block;
  position: relative;
}

#characterRoster td,
#characterRoster th {
  min-width: 30px;
  text-align: center;
}

#characterRoster tr {
  height: 1.5em;
  line-height: 1.5em;
}

#characterRoster a {
  text-decoration: none;
}

#charInfoPanel {
  display: inline-block;
  margin: 0 30px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: -2px 2px 2px #888888;
}

#charInfoPanel table {
  display:inline-block;
  margin: 20px;
}

#dl-wrapper {
  display:inline-block;
}

#charInfoPanel dt {
  font-weight: bold;
}

#charInfoPanel dd {
  font-style: italic;
}