div {
  width:300px;
  float:left;
}

#characterRoster table {
  position: relative;
}

#characterRoster td,
#characterRoster th {
  min-width: 30px;
  text-align: center;
}

#characterRoster tr {
  height: 1.5em;
  line-height: 1.5em;
}

#characterRoster a {
  text-decoration: none;
}

/* this is to turn a table row into a clickable element - useful for selecting out of the roster! */
.rowlink::before {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
  left: 0;
  width: 100%;
  height: 1.5em;
}